{% extends 'web_moedig/layout.html' %}
{% block css %}
{% endblock css %}
{% load static %}
{% static 'web_moedig/css/styleForAdminDashboard.css' %}
{% block body %}
{% load static %}
<br>
<br>
<br>
<br>
<div>
<div class="container">
  {% for product in products %}   
  {% if forloop.first %}
  <h4>{{product.order_id.user.first_name}}</h4>
  <h5>{{product.order_id}}</h5>
  {% endif %}
  {% endfor %}
  {% for product in products %}   
  
    <div class="popup">
        {% comment %} <a class="close" href="#">&times;</a> {% endcomment %}
  <hr class="my-3">
        <div class="orderDetailsOnPopup">
      <!-- Row Loop Start Here -->
      <li class="row">
        <div class="contentOnView">
          {% comment %} <i class="fas fa-file-alt"></i> {% endcomment %}
          <div class="details">
            <span class="fileName"><a href="{{product.uploaded_file.url}}">{{product.uploaded_file}}</a></span>
            
          </div>
        </div>

        {% comment %} <button class="downloadButton"><i class="fa fa-download"></i> Download</button> {% endcomment %}
        <!-- checkbox  Start-->
        {% comment %} <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." /> {% endcomment %}
        <!-- checkbox end-->
        
        
         <div style="width:80vw;">
          {% for key,value in product.loading_json.items %}
          <span><b>{{key|capfirst}}</b> : {{value}} &nbsp;</span>
          {% endfor %}
          <div class="my-3">
            Order Placed At : {{product.order_id.order_date}}
          </div>
        <p>Delivery Status : {{product.order_id.delivery_status}}</p>

       
    </div>
    </div>
    {% endfor %}
    <div style="display: inline;">
      <strong>Order Status :</strong>
      <select class="statusUpdate" id="status_update" onchange="get_status();">
        <option value="Order Placed">Order Placed</option>
        <option value="Order Printed">Order Printed</option>
        <option value="Order Shipped">Order Shipped</option>
        <option value="Delivered">Delivered</option>
      </select>
      <form action="" method='get'>
      <input type="hidden" id="stats" name="stats" value='Order Placed'>
      <button class="btn" type="submit">Update</button>
    </form>
</div>
</div>
</div>
<hr class="my-5">
{% endblock body %}
{% block js %}

<script>

  function get_status(){
    var stats = document.getElementById('status_update').value
    document.getElementById('stats').value = stats;
    console.log(stats)

  }

 

</script>

{% endblock js %}

