{% extends 'web_moedig/layout.html' %}
{% block css %}
{% load static %}
{% static 'web_moedig/css/styleForContact.css' %}
{% endblock css %}
{% block contactActive %}active{% endblock contactActive %}
{% block body %}
{% load static %}

<section class="ftco-section">
				<div class="wrapper" style="max-width: 80%; margin-left: 10%;" >
					<div class="row no-gutters">
						<div class="col-md-7 d-flex align-items-stretch" style="background-color: none;">
							<div class="contact-wrap w-100 p-md-5 p-4">
								<h3 class="mb-4">Get in touch</h3>
								<div id="form-message-warning" class="mb-4"></div>
								<div id="form-message-success" class="mb-4">
									Your message was sent, thank you!
								</div>
								<form method='post' action='/contact/' id="contactForm">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-6"  >
											<div class="form-group" >
												<input type="text" class="form-control" name="name" id="name"
													placeholder="Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="email" class="form-control" name="email" id="email"
													placeholder="Email">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="tel" class="form-control" name="phone" id="phone"
													placeholder="Phone">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea name="message" class="form-control" id="message" cols="30"
													rows="7" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="submit" value="Send Message" class="btn btn-contact btn-primary">
												{% comment %} <div class="submitting"></div> {% endcomment %}
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5 d-flex align-items-stretch">
							<div class="info-wrap w-100 p-lg-5 p-4" style="background-color:#256d85;">
								<h3 class="mb-4 mt-md-4">Contact us</h3>
								<div class="dbox w-100 d-flex align-items-start">
								</div>
								<div class="dbox w-100 d-flex align-items-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-phone"></span>
									</div>
									<div class="text pl-3">
										<p><span>Phone:</span> <a href="tel://1234567920">+91 8423678383</a></p>
									</div>
								</div>
								<div class="dbox w-100 d-flex align-items-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-paper-plane"></span>
									</div>
									<div class="text pl-3">
										<p><span>Email:</span> <a href="mailto:info@yoursite.com">moedigtechnologies@moedig.in</a>
										</p>
									</div>
								</div>
								<div class="dbox w-100 d-flex align-items-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-globe"></span>
									</div>
									<div class="text pl-3">
										<p><span>Website</span> <a href="#">www.moedig.in</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</section>



</body>
<hr class="my-5">
<!-- Testimonals End -->
{% endblock body %}